:root {
    --header-height: 4rem;
    --first-color: #4723D9;
    --first-color-hover: #5b38e7;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;

    /* Dark Mode */
    --first-color-dark: #242424;
    --element-colors-dark: #3f3f3f;

}

body{
    background-color: var(--element-colors-dark) !important;
    color: white !important;
}

.pull-right {
  float: right !important;
}

.navbar-brand{
    color: white !important;
}

.navbar-links {
    position: relative;
    color:white; 
    margin-right: 15px;
    width: 40px;
    height: 40px; 
    vertical-align: center; 
    background-color: black !important;
}

.navbar-links:hover { 
    background-color: rgb(35, 34, 34) !important;
}

.new-players-card{
  color: white;
  background-color: #242424 !important;
  padding: 8px;
}

.input-group{
  border-top-right-radius: 5% !important;
  border-bottom-right-radius: 5% !important;
}

.toast{
  z-index: 2 !important;
}

.new-players-card:hover{
  background-color: black !important;
}

.navbar-links.active::before{
    content: "";
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 0.3rem;
    background-color: var(--first-color);
}

/* Buttons */

.btn-dark-primary {
  background-color: var(--first-color-dark) !important; 
  color: grey !important; 
  border-color: var(--element-colors-dark) !important;
}

.btn-dark-primary:hover{
  background-color: #2b2a2a !important; 
}

.btn-dark:hover {
  background-color: #141414 !important;
}

.btn-dark-primary.active{
  background-color: var(--first-color) !important; 
  color: white !important; 
}
.btn-dark-primary.active:hover{
  background-color: var(--first-color-hover) !important; 
  color: white !important; 
}

.btn-input-group:hover {
  background-color: var(--white-color) !important;
}

.btn-follow-suggest {
  font-size: 12px !important; 
  float:right !important;
  background-color: #141414 !important;
}

.inserted-deck-box {
  border-style: solid;
  border-width: 1px; 
  margin-top: 1rem; 
  border-radius: 5px; 
  border-color: rgba(190, 190, 190, 0.471);
  margin-left: 2rem;
}

.close-button-preview {
  background-color: transparent !important; 
  color: white; 
  border-style: none; 
  position: relative;
} 

.preview-img {
  width:10%;
  height:10%; 
  border-radius: 15%;
}

.publication-img {
  width: 100% !important; 
  max-height: 400px !important;
}

.messages-container{
  min-height: 40vh; 
  max-height: 50vh; 
  overflow-y: auto; 
  overflow-x: hidden;
}

.conver_image {
  max-height: 300px !important;
}
.notification-card {
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.notification-card:hover {
  background-color: #141414 !important;
}

/* Search Bar */
.search_bar {
  background-color: black !important;
  color:white !important; 
  border-color: grey !important;
}

.search-icon {
  background-color: transparent !important; 
  color:white !important; 
  border-color:transparent !important; 
  font-size:20px !important;
}

/* Profile */
.profile-cover{
  width:100%; 
  height:10rem; 
  z-index: -1;
}

.btn-edit-cover{
  position:absolute; 
  display:block; 
  top: 15px; 
  right: 15px; 
  opacity: 70%;
}

.btn-cardmarket {
  position:absolute; 
  display:block; 
  top: 15px; 
  left: 30px;
}

.profile-img {
  width: 150px; 
  height: 150px; 
  margin-top: -5rem; 
  margin-left: 3%;
}

.profile-box{
  margin-top: -4rem; 
  position: relative;
}

.profile-names {
  margin-left: 11rem;
}

.profile-buttons {
  float:right; 
  position: absolute; 
  right: 25px;
  margin-top: 0.5rem;
}

/* Animations */
@media (min-width: 768px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(0rem);
      opacity: 0;
    }
  
    100% {
      transform: translateY(1rem);
      opacity: 1;
    }
  
    0% {
      transform: translateY(0rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
  
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
  
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }



  /* Messages */
  .message-card:hover {
    background-color: rgb(30, 33, 36) !important;
  }

  .message-card.no-read {
    background-color: rgb(66, 68, 70) !important;
  }

  .message-card.no-read:hover {
    background-color: rgb(79, 80, 82) !important;
  }

  .message-read-point {
    color: #c2c1c1;
  }

  .message-box {
    background-color: rgb(26, 26, 27) !important;
    max-width: 24rem !important;
    padding-top: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border-radius: 5px;
    float: left !important;
  }

  .message-box-right {
    background-color: rgb(41, 26, 48) !important;
    max-width: 24rem !important;
    width: 24rem !important;
    padding-top: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border-radius: 5px;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #4b4b4b;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  /* Other styles for the page not related to the animated dropdown */

  /* Helpers */
  .text-red {
    color: red !important;
  }
  .f-10 {
    font-size: 10px !important;
  }
  
  .f-13 {
    font-size: 13px !important;
  }

  .f-12 {
    font-size: 12px !important;
  }

  .f-18 {
    font-size: 18px !important;
  }

  .f-30 {
    font-size: 30px !important;
  }