  /* Helpers */
  .toast {
    z-index: 1000 !important;
  }

  .overflow-x-hidden {
    overflow-x: hidden !important;
  }
  
  .height-100 {
    height: 100vh;
  }

  .height-80 {
    height: 80vh;
  }
  .text-red {
    color: red !important;
  }

  .text-purple {
    color: #4723D9 !important;
  }

  .f-8 {
    font-size: 8px !important;
  }

  .f-10 {
    font-size: 10px !important;
  }
  
  .f-13 {
    font-size: 13px !important;
  }

  .f-12 {
    font-size: 12px !important;
  }

  .f-18 {
    font-size: 18px !important;
  }

  .f-20 {
    font-size: 20px !important;
  }

  .f-25 {
    font-size: 25px !important;
  }

  .f-28 {
    font-size: 28px !important;
  }

  .f-30 {
    font-size: 30px !important;
  }

  .pull-right {
    float: right !important;
  }

  .pull-left {
    float: left !important;
    text-align: left !important;
  }

  .width-20 {
    width: 20rem !important;
  }

  .width-15 {
    width: 15rem !important;
  }

  .margin-negative-1 {
    margin-top: -1rem !important;
  }