@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #4723D9;
    --first-color-hover: #5b38e7;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;

    /* Dark Mode */
    --first-color-dark: #242424;
    --element-colors-dark: #3f3f3f;

}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    color: black;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    overflow-x: hidden !important;
}

a {
    text-decoration: none !important;
}
.navbar-links {
    position: relative;
    color:white; 
    margin-right: 15px;
    width: 40px;
    height: 40px; 
    vertical-align: center; 
    background-color: black !important;
}

.nav_logo {
    margin-bottom: 0 !important;
}

.navbar-links:hover { 
    background-color: rgb(35, 34, 34) !important;
}
.navbar-links.active::before{
    content: "";
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 0.3rem;
    background-color: var(--first-color);
}

.search-form{
    margin-top: calc(var(--header-height) + 5rem) !important;
}

/* Corporation Image */
.btn-primary {
    background-color: var(--first-color) !important;
    border-color: #3313b1 !important;
    color: white !important;
}

.btn-primary:hover {
    background-color: #3313b1 !important;
}

.btn-outline-primary {
    border-color: var(--first-color) !important;
    color: #7353f5 !important;
}

.btn-outline-primary:hover {
    background-color: var(--first-color) !important;
    border-color: #3313b1 !important;
    color: white !important;
}

.btn-outline-primary.show {
    background-color: var(--first-color) !important;
    border-color: #3313b1 !important;
    color: white !important;
}

.btn-dark.active:hover{
    background-color: rgb(26, 26, 26) !important;
}

.btn-dark.active{
    background-color: black !important;
}

.btn-outline-light:hover{
    background-color: var(--first-color) !important;
}

.active {
    color: var(--white-color);
}

.has-icon.active {
    background-color: var(--first-color) !important;
    border-color: transparent !important;
    color: white !important;
}

.tab-pane{
    color: black !important;
}

.nav-pills .nav-link.active{
    background-color: var(--first-color) !important;
}

.nav-pills .nav-link{
    color: white;
}

.nav-pills .nav-link:hover{
    color: rgb(183, 183, 183);
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}

.deck-card{
    margin: 5px !important;
}

.vr{
    display:none !important;
}

.buttons-editDeck{
    float: left !important; 
}

.showImgCard{
    margin-left: 4rem !important;
    position: absolute;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.filterBox{
    margin-top: calc(var(--header-height) + 3rem);
}

/* Dark Mode */
.dark-mode{
    background-color: var(--first-color-dark);
    color: white;
}

.dark-mode .filterBox{
    background-color: var(--element-colors-dark);
}

.dark-mode .card{
    background-color: var(--element-colors-dark);
}

.dark-mode .header{
    background-color: var(--element-colors-dark);
}

.dark-mode .list-group-item {
    background-color: var(--element-colors-dark) !important;
    color: white;
}

.dark-mode .tab-pane{
    color: white !important;
}

.tab-content{
    color: black;
}
/* Deck Creator */
.card-active {
    transform: translateX(0);
    position: static;
    transition: 500ms ease-in-out;
}

.card1 {
    transform: translateX(-200%);
    opacity: 0;
    transition: 500ms ease-in-out;
    width: 50%;
    position: absolute !important;
}

.card2 {
    transform: translateX(200%);
    opacity: 0;
    transition: 500ms ease-in-out;
    width: 50%;
    margin-top: -10%;
    position: absolute !important;
}

#contenedor_carga{
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 100000;
  }

  /* Login */
  .social_icon {
    color: #4723D9;
    font-size: 25px !important;
  }

.img-login{
    border-radius: 1rem 0 0 1rem; 
    width: 100% !important; 
    height: 100% !important;
}

.border-login {
    border-radius: 1rem !important;
}

#loader {
    border: 11px solid #ccc;
    border-top-color: var(--first-color);
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
  }
  
  @keyframes girar {
    from {transform:rotate(0deg);}
    to{transform: rotate(360deg) ;}
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }

  .show, body {overflow: inherit !important;}

  .modal-open {
    padding-right: 1rem !important;
}

.tournament-img {
    height: 165px !important;
}

.card-tournaments {
    width: 18rem !important; 
}

.text-purple-light {
    color: #7353f5 !important;
}

.loader-container {
    position: absolute !important; 
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0; 
    height: 110vh !important; 
    margin-top: -2rem !important;
}

.btn-report-deck {
    background-color: transparent; 
    border-width: 0;
}

.view-deck-card {
    width: 97% !important;
}

.card-images {
    margin: 10px !important; 
    width: 225px !important;
}

.settings-header {
    margin-top: 6rem; 
    margin-left: -2rem;
}

.margin-top {
    margin-top: 6rem !important;
}

.text-area-emoji {
    overflow: hidden !important; 
    overflow-wrap: break-word !important; 
    resize: none !important; 
    height: 62px !important;
}

.links {
    bottom: 15px !important; 
    position:absolute; 
    right: 20px !important;
}

.searched-card{
    margin: 1.5rem;
}

.highlighted-hover:hover {
    background-color: #585858 !important;
}

.tournament-prices-margin {
    margin-left: 1.5rem !important;
}

.input-login {
    background-color: var(--element-colors-dark) !important;
    color: white !important;
    border-color: #1b1b1b !important;
}

.input-login:focus{
    border-color: var(--first-color) !important;
}

.input-login label{
    color: white !important;
}

.card-login {
    background-color: #242424 !important;
}
.label {
    padding: 0.3rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 5px;
}

.label.label-legal {
    background-color: rgb(51, 155, 51) !important;
}

.label.label-not_legal {
    background-color: rgb(175, 49, 49) !important;
}

.label.label-banned {
    background-color: rgb(194, 38, 38) !important;
}

.label.label-restricted {
    background-color: rgb(212, 129, 19) !important;
}    

.badge-notification {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    font-family: var(--body-font);
    background: var(--first-color-hover);
    color: white;
  }

/* -------- Media & Responsive -------- */
@media screen and (min-width: 768px) {
    .searchedCards{
        margin-left: 5%;
    }

    .maindeck-edit{
        margin-right: 6rem !important;
    }

    .showImgCard{
        margin-left: 8rem !important;
    }

    .vr{
        min-height: 5rem !important;
        display:inline-block !important;
    }

    .buttons-editDeck{
        float: right !important; 
    }

    .header_toggle{
        display:block !important;
    }
    .deck-card{
        display: inline-block !important; 
        margin: 15px !important;
    }
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }
}

@media (max-width: 995px) {
    .searched-card{
        margin: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #searchFilter {
        width: 100% !important;
        margin-bottom: 1rem;
    }

    .addon-btn-filters {
        width: 100% !important;
        margin-bottom: 1rem;
    }

    .card-tournaments {
        width: 16rem !important;
    }

    .tabletop-text {
        float: left !important;
        text-align: left !important;
    }

    .tournament-preview{
        display: none !important;
    }

    .btn-nav-dashboard{
        display: none !important;
    }

    .tournament-prices-margin {
        margin-left: 0 !important;
    }
}
